/* About Page Styles */

.main {
  position: relative;
  overflow: hidden;
  background: rgb(var(--darker));
  color: white;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -10;
  background: rgb(var(--bg-primary));
}

.gridPattern {
  display: none;
}

@keyframes gridMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px);
  }
}

.contentWrapper {
  padding-top: 3rem;
}
