/* Common page layout styles */

.pageContainer {
  position: relative;
  overflow: hidden;
  background: rgb(var(--darker));
  color: white;
}

.backgroundWrapper {
  position: absolute;
  inset: 0;
  z-index: -10;
  background: rgb(var(--bg-primary));
}

.contentWrapper {
  padding-top: 5rem;
}
